* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fbf9e4;
    line-height: 1.3;
    color: black;
}

.registro-formulario {
    width: 700px;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid rgba(128, 128, 128, 0.116);
    border-radius: 15px;
    font-family: 'calibri';
    color: black;
}

.registro-formulario h2 {
    font-size: 35px;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    color: black;
}

.registro-formulario h3 {
    font-size: 25px;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.entradas {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: 2px solid black;
    font-size: 16px;
}

.checkbox {
    margin: 25px;
    background: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

.div-checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.registro-formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 70px;
}

.registro-formulario select {
    width:70%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
}

#interes12 {
    grid-column: 2 / 3;
    text-align: center;
    justify-self: center;
}