* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #f8fafc;
    --color-border: #cfd8e3;
    --color-text: #26408b;
    --color-yellow: #a6cfd5;
    --color-fondo2: #a6cfd50e;
    --color-text-2: #ffffff;
    --color-text-3: rgba(255, 255, 255, 0.75);
    --color-text-4: #5f6f9c;;
    --bg-color: #365695ed;
    --bg-color-2: #5088f7;
    --bg-color-3: #e2e8fa;
}

@font-face {
    font-family: "fuente1";
    src: url(assets/fonts/gloucester-mt-extra-condensed.ttf) format("truetype");
    font-weight: normal;
}

.register {
    display: flex;
    margin: 30px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #a8a8a8da;
    height: 88vh;
}

.register-hero {
    display: grid;
    color: var(--color-text-3);
    align-items: center;
    padding-left: 40px;
    width: 30%;
}

.hero-title {
    color: var(--color-text-2);
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
}

.hero-description {
    font-size: 18px;
    position: relative;
}

.hero-description::before{
    content: "";
    height: 2.5px;
    position: absolute;
    background-color: var(--bg-color-2);
    left: 0;
    top: -15px;
    width: 8.2%;
}

.hero-highlight {
    font-weight: bold;
    color: var(--color-text-2);
}

.register-hero {
    background-image: linear-gradient(90deg,
            rgba(7, 22, 55, 0.95) 0%,
            rgba(7, 22, 55, 0.85) 20%,
            rgba(7, 22, 55, 0.65) 40%,
            rgba(7, 22, 55, 0.35) 60%,
            rgba(248, 250, 252, 0.6) 80%,
            #f8fafc 100%),
        url(/assets/images/register/hero/register-hero-2.png);
    background-repeat: no-repeat;
    background-position: 25% center;
    background-size: cover;
    width: 50%;
}

.features{
    margin-top: 10px;
}

.feature-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding-top: 30px;
}

.feature-icon-box {
    display: flex;
    border-radius: 50%;
    background-color: var(--bg-color);
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.feature-icon {
    height: 25px;
    width: 20px;
}

#feature-icon-tag {
    height: 20px;
    width: 23px;
}

#feature-icon-box {
    height: 22px;
}

.feature-title {
    color: var(--color-text-2);
    font-weight: bold;
    font-size: 16px;
    line-height: 0.8;
    padding-bottom: 5px;
}

.form-icon-container {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-3);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
}

.form-icon{
    height: 50%;
    width: 40%;
    padding: 1px 0;
}

.input-icon{
    width: 13px;
    height: 15px;
    margin-left: 13px;
}