* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #fff8f0;
    --color-border: #a6cfd5;
    --color-text: #26408b;
    --color-yellow: #a6cfd5;
    --color-fondo2: #a6cfd50e;
}

@font-face {
    font-family: "fuente1";
    src: url(tipografías/gloucester-mt-extra-condensed.ttf) format("truetype");
    font-weight: normal;
}

